image: alpine

variables:
  COMMIT: ${CI_COMMIT_SHA}
  TAG: ${CI_COMMIT_REF_NAME}
  MAIN_REPO: https://gitlab+deploy-token-25488:zkcGJFdvCN6KCfmWtnAU@gitlab.com/gusisoft/OneLike/client/users-service.git
  REGISTRY_REPO: registry.gitlab.com/gusisoft/onelike/client/users-service
  USERS: users
  USERS_REPO: ${MAIN_REPO}#${CI_COMMIT_REF_NAME}
  USERS_DB: users-db
  USERS_DB_REPO: ${MAIN_REPO}#${CI_COMMIT_REF_NAME}:db
  SWAGGER: swagger
  SWAGGER_REPO: ${MAIN_REPO}#${CI_COMMIT_REF_NAME}:swagger


stages:
#  - unit_test
  - registry

#before_script:
#  - apk update
#  - apk upgrade
#  - apk add python python-dev py-pip build-base
#  - pip install docker-compose

#unit_test:
#  stage: unit_test
#  script:
#    - docker-compose -f docker-compose-dev.yml up -d --build
#    - docker-compose -f docker-compose-dev.yml run users python manage.py recreate-db
#    - docker-compose -f docker-compose-dev.yml run users flake8 project
#    - docker-compose -f docker-compose-dev.yml run users python manage.py cov

registry_devel:
  stage: registry
  script:
    - echo ${COMMIT}
    - echo ${MAIN_REPO}
    - echo ${USERS}
    - echo ${USERS_REPO}
    - echo ${USERS_DB}
    - echo ${USERS_DB_REPO}
    - echo ${SWAGGER}
    - echo ${SWAGGER_REPO}
    - docker login -u gitlab-ci-token -p 4JbtWjshp1KHwdPzb2CK registry.gitlab.com
    - docker build $USERS_REPO -t $USERS:$COMMIT -f Dockerfile-dev
    - docker tag $USERS:$COMMIT $REGISTRY_REPO/$USERS:$TAG
    - docker push $REGISTRY_REPO/$USERS:$TAG
