image: alpine

variables:
  COMMIT: ${CI_COMMIT_SHA}
  REGISTRY_REPO: registry.gitlab.com/gusisoft/onelike/users-service
  USERS: users
  USERS_DB: users-db
  SWAGGER: users-swagger

stages:
  - tests
  - registry
  - deploy

Testing:
  stage: tests
  only:
    - devel
  before_script:
    - sudo git clean -ffdx
  script:
    - docker-compose -f docker-compose-dev.yml up -d --build
    - docker-compose -f docker-compose-dev.yml run users python manage.py recreate-db
    - docker-compose -f docker-compose-dev.yml run users flake8 project
    - docker-compose -f docker-compose-dev.yml run users python manage.py cov
  after_script:
    - docker-compose -f docker-compose-dev.yml down
    - sudo git clean -ffdx

Users Service:
  stage: registry
  only:
    - stage
    - master
  before_script:
    - export COMMIT_TIME=$(git show -s --format=%ct $CI_COMMIT_SHA)
    - export TAG=${CI_COMMIT_REF_NAME}_$COMMIT_TIME
    - docker login -u gitlab-ci-token -p $DOCKER_TOKEN registry.gitlab.com
    - export MAIN_REPO="https://${GITLAB_USER}:${GITLAB_PASSWORD}@gitlab.com/gusisoft/OneLike/users-service.git"
    - export USERS_REPO="${MAIN_REPO}#${CI_COMMIT_REF_NAME}"
  script:
    - docker build $USERS_REPO -t $USERS:$COMMIT -f Dockerfile-${CI_COMMIT_REF_NAME}
    - docker tag $USERS:$COMMIT $REGISTRY_REPO/$USERS:$TAG
    - docker push $REGISTRY_REPO/$USERS:$TAG
  after_script:
    - docker image rm $REGISTRY_REPO/$USERS:$TAG

Users DB:
  stage: registry
  only:
    - stage
  before_script:
    - export COMMIT_TIME=$(git show -s --format=%ct $CI_COMMIT_SHA)
    - export TAG=${CI_COMMIT_REF_NAME}_$COMMIT_TIME
    - docker login -u gitlab-ci-token -p $DOCKER_TOKEN registry.gitlab.com
    - export MAIN_REPO="https://${GITLAB_USER}:${GITLAB_PASSWORD}@gitlab.com/gusisoft/OneLike/users-service.git"
    - export USERS_DB_REPO="${MAIN_REPO}#${CI_COMMIT_REF_NAME}:db"
  script:
    - docker build $USERS_DB_REPO -t $USERS_DB:$COMMIT -f Dockerfile
    - docker tag $USERS_DB:$COMMIT $REGISTRY_REPO/$USERS_DB:$TAG
    - docker push $REGISTRY_REPO/$USERS_DB:$TAG
  after_script:
    - docker image rm $REGISTRY_REPO/$USERS_DB:$TAG

Users Swagger:
  stage: registry
  only:
    - stage
    - master
  before_script:
    - export COMMIT_TIME=$(git show -s --format=%ct $CI_COMMIT_SHA)
    - export TAG=${CI_COMMIT_REF_NAME}_$COMMIT_TIME
    - docker login -u gitlab-ci-token -p $DOCKER_TOKEN registry.gitlab.com
    - export MAIN_REPO="https://${GITLAB_USER}:${GITLAB_PASSWORD}@gitlab.com/gusisoft/OneLike/users-service.git"
    - export SWAGGER_REPO="${MAIN_REPO}#${CI_COMMIT_REF_NAME}:swagger"
  script:
    - docker build $SWAGGER_REPO -t $SWAGGER:$COMMIT -f Dockerfile
    - docker tag $SWAGGER:$COMMIT $REGISTRY_REPO/$SWAGGER:$TAG
    - docker push $REGISTRY_REPO/$SWAGGER:$TAG
  after_script:
    - docker image rm $REGISTRY_REPO/$SWAGGER:$TAG

Deploy Stage:
  stage: deploy
  environment:
    name: ${CI_COMMIT_REF_NAME}
    url: http://stage.onelike.gusisoft.cl
  only:
    - stage
  before_script:
    - export COMMIT_TIME=$(git show -s --format=%ct $CI_COMMIT_SHA)
    - export TAG=${CI_COMMIT_REF_NAME}_$COMMIT_TIME
    - rm -rf ~/.ssh
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - bash ./${CI_COMMIT_REF_NAME}-deploy.sh

Deploy Production:
  stage: deploy
  environment:
    name: ${CI_COMMIT_REF_NAME}
    url: http://onelike.gusisoft.cl
  only:
    - master
  before_script:
    - export COMMIT_TIME=$(git show -s --format=%ct $CI_COMMIT_SHA)
    - export TAG=${CI_COMMIT_REF_NAME}_$COMMIT_TIME
    - rm -rf ~/.ssh
    - mkdir -p ~/.ssh
    - echo -e "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - bash ./${CI_COMMIT_REF_NAME}-deploy.sh
