unit_test:
  image: alpine:3.7
  services:
    - docker

  variables:
    DOCKER_COMPOSE_VERSION: 1.21.1

  before_script:
    - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
    - chmod +x docker-compose
    - mv docker-compose /usr/local/bin

  script:
    - docker-compose -f docker-compose-dev up -d --build
    - docker-compose -f docker-compose-dev.yml run users python manage.py recreate-db
    - docker-compose -f docker-compose-dev.yml run users python manage.py test
    - docker-compose -f docker-compose-dev.yml run users flake8 project
