unit_test:
  services:
    - docker
  script:
    - docker-compose -f docker-compose-dev up -d --build
    - docker-compose -f docker-compose-dev.yml run users python manage.py recreate-db
    - docker-compose -f docker-compose-dev.yml run users python manage.py test
    - docker-compose -f docker-compose-dev.yml run users flake8 project
