image: docker

services:
  - docker:dind

stages:
  - build
  - unit_test

before_script:
  - apk update
  - apk upgrade
  - apk add python python-dev py-pip build-base

build:
  stage: build
  script:
    - pip install docker-compose
    - docker-compose -f docker-compose-dev.yml up --build

unit_test:
  stage: unit_test
  script:
    - docker-compose -f docker-compose-dev.yml run users python manage.py recreate-db
    - docker-compose -f docker-compose-dev.yml run users flake8 project
    - docker-compose -f docker-compose-dev.yml run users python manage.py cov
