version: '3.6'

services:
  users:
    build:
      context: ./
      dockerfile: Dockerfile-dev
    volumes:
      - './src:/usr/src/app'
    ports:
      - 5001:5000
    environment:
      - FLASK_ENV=development
      - FLASK_APP=manage.py
      - APP_SETTINGS=project.config.DevelopmentConfig
      - DATABASE_URL=postgres://postgres:postgres@users-db:5432/users
      - DATABASE_TEST_URL=postgres://postgres:postgres@users-db:5432/users_test
      - SECRET_KEY=secret_key
    depends_on:
      - users-db

  users-db:
    build:
      context: ./db
      dockerfile: Dockerfile
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  swagger:
    build:
      context: ./swagger
      dockerfile: Dockerfile-dev
    ports:
      - 8081:8080
    volumes:
      - './swagger/swagger:/usr/share/nginx/html/swagger'
    environment:
      - API_URL=swagger/swagger.yml
